@model DatingSida.Models.UserProfileIndexViewModel

@{
    ViewBag.Title = "Min profil";
}

<h2>Min Profil</h2>
<div class="row">
    <div class="col-md-6">
        <img src="~/Images/avatar.png" />vatar.png" />
    </div>
    <div class="col-md-6">
        <h2>@Model.Firstname @Model.Lastname</h2>
        <h4>@Model.Username</h4>
    </div>
</div>

